*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: auto;
    display: flex;
    flex-direction: column;
    & nav{
        height: 3.5rem;
        & #dropdown-menu {
            width: 40%;
            font-size: 14px;
        }
        
        & #dropdown-menu button {
            width: calc(100% - 1rem); 
        }
    }

    & main{

}
}
